jupyter
flask
bash_kernel
numpy
pandas
toyplot
requests
calysto
widgetsnbextension
ipywidgets
matplotlib
scipy
sqlalchemy
ipython-sql

# These have compiled modules that require SASL dev package
pyhive[hive]
pyhive[presto]
pyhive[mysql]
pyhive[postgres]
pyhive[sqlite]
psycopg2-binary

seaborn

mysql-connector
mysqlclient

geos
proj
pillow
https://github.com/matplotlib/basemap/archive/v1.2.0rel.tar.gz
